.metadata
bin/
tmp/*
.tmp
*.bak
*.log
*.class
.classpath
.project
.settings/
target/
build/
dist/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.7z

.idea/
*.iml
*.ipr
*.iws
nbproject/

.DS_Store
Thumbs.db

*.swp
*~

*.properties
!application.properties
